# Rubhini- CROP YIELD PREDICTION

## DATA PREPROCESSING

# 1.Libraries Imported

In [1]:
# Importing all the required libraries.
import pandas as pd
import numpy as np

# 2.Dataset loaded

In [2]:
#load the dataset
Crop_raw_ds=pd.read_csv('crop_yield.csv')

In [3]:
Crop_raw_ds.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

# 3.Information about the dataset

## 3.a.Number of rows and columns

In [4]:
Crop_raw_ds.shape

(19689, 10)

## 3.b. DataTypes of the column

In [5]:
Crop_raw_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

## 3.c. Columns are renamed

In [6]:
Crop_raw_ds.rename(columns={'Area':'Area_Hectares','Production':'Production_Tonnes',
                            'Annual_Rainfall':'Rainfall_mm','Fertilizer':'Fertilizer_Kgms',
                            'Pesticide':'Pesticide_Kgms','Yield':'Yield/unitArea'},inplace=True)

In [7]:
Crop_raw_ds

,Crop,Crop_Year,Season,State,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909
...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818

## 3.d. Duplicated rows/entries

In [8]:
Crop_raw_ds[Crop_raw_ds.duplicated()]

Empty DataFrame
Columns: [Crop, Crop_Year, Season, State, Area_Hectares, Production_Tonnes, Rainfall_mm, Fertilizer_Kgms, Pesticide_Kgms, Yield/unitArea]
Index: []

# 4. Checking for the missing values

In [9]:
Crop_raw_ds.isnull().sum()

Crop                 0
Crop_Year            0
Season               0
State                0
Area_Hectares        0
Production_Tonnes    0
Rainfall_mm          0
Fertilizer_Kgms      0
Pesticide_Kgms       0
Yield/unitArea       0
dtype: int64

## 4.a. Unique values and counts

In [10]:
Crop_raw_ds['Season'].value_counts()

Season
Kharif         8232
Rabi           5742
Whole Year     3717
Summer         1195
Autumn          414
Winter          389
Name: count, dtype: int64

In [11]:
Crop_raw_ds['State'].value_counts()

State
Karnataka            1432
Andhra Pradesh       1266
West Bengal          1094
Chhattisgarh          915
Bihar                 896
Madhya Pradesh        845
Uttar Pradesh         825
Tamil Nadu            822
Gujarat               817
Maharashtra           770
Uttarakhand           764
Odisha                760
Assam                 731
Nagaland              689
Puducherry            670
Meghalaya             649
Haryana               631
Jammu and Kashmir     631
Himachal Pradesh      616
Kerala                534
Manipur               444
Tripura               441
Mizoram               416
Telangana             397
Punjab                397
Arunachal Pradesh     292
Jharkhand             270
Goa                   246
Sikkim                226
Delhi                 203
Name: count, dtype: int64

In [12]:
Crop_raw_ds['Area_Hectares'].value_counts()

Area_Hectares
1.0         113
3.0          75
2.0          66
4.0          49
5.0          42
           ...
22747.0       1
149191.0      1
11137.0       1
21610.0       1
239344.0      1
Name: count, Length: 13644, dtype: int64

In [13]:
Crop_raw_ds['Production_Tonnes'].value_counts()

Production_Tonnes
0             112
1              79
2              68
3              67
4              55
             ...
4946800000      1
235305          1
182776          1
37536           1
392160          1
Name: count, Length: 14016, dtype: int64

In [14]:
Crop_raw_ds['Yield/unitArea'].value_counts()

Yield/unitArea
1.000000     167
0.000000     112
0.500000      73
2.000000      47
0.750000      42
            ...
2.420000       1
1.067059       1
3.099412       1
60.698000      1
1.261818       1
Name: count, Length: 13551, dtype: int64

## 4.b. Removing the useless data

In [15]:
Zero_Prod_Yield=(Crop_raw_ds['Production_Tonnes']==0.0)|(Crop_raw_ds['Yield/unitArea']==0.0)
Crop_raw_ds[Zero_Prod_Yield]

,Crop,Crop_Year,Season,State,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea
92,Cardamom,1997,Whole Year,West Bengal,2674.0,7,1852.9,254484.58,828.940,0.0
125,Sunflower,1997,Whole Year,West Bengal,278.0,1,1852.9,26457.26,86.180,0.0
1058,Soyabean,2002,Kharif,Andhra Pradesh,41284.0,0,648.1,3908356.28,10321.000,0.0
1134,other oilseeds,2002,Whole Year,Kerala,2253.0,0,2511.2,213291.51,563.250,0.0
1135,Arecanut,2002,Whole Year,Tamil Nadu,4956.0,0,315.9,469184.52,1239.000,0.0
...,...,...,...,...,...,...,...,...,...,...
17157,Wheat,2019,Kharif,Telangana,1.0,0,1031.7,171.76,0.370,0.0
18005,Tobacco,2012,Kharif,Jammu and Kashmir,1.0,0,1116.7,150.80,0.310,0.4
18122,Tobacco,2014,Kharif,Jammu and Kashmir,1.0,0,1278.4,150.96,0.330,0.4
18226,Horse-gram,2016,Rabi,Jammu and Kashmir,1.0,0,902.8,153.25,0.350,0.4
18948,Masoor,2004,Kharif,Mizoram,0.5,0,2640.8,54.17,0.105,0.4

In [16]:
Crop_raw_ds =Crop_raw_ds[~Zero_Prod_Yield]

In [17]:
Crop_raw_ds['Production_Tonnes'].value_counts()

Production_Tonnes
1             78
2             68
3             67
4             55
10            45
              ..
4946800000     1
235305         1
182776         1
37536          1
392160         1
Name: count, Length: 14015, dtype: int64

In [18]:
Crop_raw_ds['Yield/unitArea'].value_counts()

Yield/unitArea
1.000000     167
0.500000      73
2.000000      47
0.750000      42
3.000000      41
            ...
2.420000       1
1.067059       1
3.099412       1
60.698000      1
1.261818       1
Name: count, Length: 13550, dtype: int64

In [19]:
Crop_raw_ds['Rainfall_mm'].value_counts()

Rainfall_mm
1434.5875    358
1317.2000     92
687.6000      90
1201.9000     83
1207.0000     74
            ...
747.1000       7
1398.5000      5
3252.4000      5
1498.0000      5
1356.2000      3
Name: count, Length: 634, dtype: int64

In [20]:
Crop_raw_ds['Fertilizer_Kgms'].value_counts()

Fertilizer_Kgms
162.20         10
144.49          9
150.80          9
343.52          9
153.25          7
               ..
154128.00       1
77064.00        1
358644.00       1
25242115.60     1
22778368.48     1
Name: count, Length: 18528, dtype: int64

In [21]:
Crop_raw_ds['Pesticide_Kgms'].value_counts()

Pesticide_Kgms
0.99        17
0.35        17
0.33        16
0.66        16
0.27        13
            ..
1323.27      1
4283.59      1
169.65       1
17.11        1
74196.64     1
Name: count, Length: 17351, dtype: int64

# 5.REMOVING THE OUTLIERS

** Function is created to get columns separately based on the dtypes **

In [22]:
def quanQual(Crop_raw_ds):
    quan=[]
    qual=[]
    for columnname in Crop_raw_ds.columns:
            #print(columnname)
        if(Crop_raw_ds[columnname].dtype=='O'):
            #print("qual")
            qual.append(columnname)
        else:
           # print("quan")
            quan.append(columnname)
    return quan,qual

In [23]:
quan,qual=quanQual(Crop_raw_ds)

In [24]:
quan

['Crop_Year',
 'Area_Hectares',
 'Production_Tonnes',
 'Rainfall_mm',
 'Fertilizer_Kgms',
 'Pesticide_Kgms',
 'Yield/unitArea']

In [25]:
qual

['Crop', 'Season', 'State']

In [26]:
Crop_raw_ds.describe()

,Crop_Year,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea
count,19573.000000,1.957300e+04,1.957300e+04,19573.000000,1.957300e+04,1.957300e+04,19573.000000
mean,2009.117458,1.809635e+05,1.653335e+07,1438.440564,2.424216e+07,4.912906e+04,80.427777
std,6.500126,7.348706e+05,2.638322e+08,816.551104,9.520943e+07,2.138865e+05,880.883510
min,1997.000000,8.000000e-01,1.000000e+00,301.300000,9.467000e+01,9.000000e-02,0.003571
25%,2004.000000,1.441000e+03,1.449000e+03,940.700000,1.940470e+05,3.703000e+02,0.604516
50%,2010.000000,9.516000e+03,1.410000e+04,1247.600000,1.260839e+06,2.474550e+03,1.037500
75%,2015.000000,7.599400e+04,1.245470e+05,1643.700000,1.013810e+07,2.021952e+04,2.410000
max,2020.000000,5.080810e+07,6.326000e+09,6552.700000,4.835407e+09,1.575051e+07,21105.000000

In [27]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive.loc["Mean",columnName]=Crop_raw_ds[columnName].mean()
    descriptive.loc["Median",columnName]=Crop_raw_ds[columnName].median()
    descriptive.loc["Mode",columnName]=Crop_raw_ds[columnName].mode()[0]
    descriptive.loc["Q1:25%",columnName]=Crop_raw_ds.describe()[columnName]["25%"]
    descriptive.loc["Q2:50%",columnName]=Crop_raw_ds.describe()[columnName]["50%"]
    descriptive.loc["Q3:75%",columnName]=Crop_raw_ds.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
    descriptive.loc["Q4:100%",columnName]=Crop_raw_ds.describe()[columnName]["max"]   
    descriptive.loc["IQR",columnName]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive.loc["1.5rule",columnName]=1.5*descriptive[columnName]["IQR"]
    descriptive.loc["Lesser",columnName]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive.loc["Greater",columnName]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive.loc["Min",columnName]=Crop_raw_ds[columnName].min()
    descriptive.loc["Max",columnName]=Crop_raw_ds[columnName].max()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)

In [28]:
descriptive

,Crop_Year,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea
Mean,2009.117458,180963.450727,16533349.373116,1438.440564,24242163.847914,49129.064642,80.427777
Median,2010.0,9516.0,14100.0,1247.6,1260838.8,2474.55,1.0375
Mode,2019,1.0,1,1434.5875,162.2,0.35,1.0
Q1:25%,2004.0,1441.0,1449.0,940.7,194047.0,370.3,0.604516
Q2:50%,2010.0,9516.0,14100.0,1247.6,1260838.8,2474.55,1.0375
Q3:75%,2015.0,75994.0,124547.0,1643.7,10138103.04,20219.52,2.41
99%,2019.0,3310640.0,38040468.24,4472.3,443500691.223997,886953.6,104.7497
Q4:100%,2020.0,50808100.0,6326000000.0,6552.7,4835406877.0,15750511.0,21105.0
IQR,11.0,74553.0,123098.0,703.0,9944056.04,19849.22,1.805484
1.5rule,16.5,111829.5,184647.0,1054.5,14916084.06,29773.83,2.708226
Lesser,1987.5,-110388.5,-183198.0,-113.8,-14722037.06,-29403.53,-2.10371
Greater,2031.5,187823.5,309194.0,2698.2,25054187.1,49993.35,5.118226
Min,1997,0.8,1,301.3,94.67,0.09,0.003571
Max,2020,50808100.0,6326000000,6552.7,4835406877.0,15750511.0,21105.0

In [29]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [30]:
lesser

[]

In [31]:
greater

['Area_Hectares',
 'Production_Tonnes',
 'Rainfall_mm',
 'Fertilizer_Kgms',
 'Pesticide_Kgms',
 'Yield/unitArea']

In [32]:
for column in lesser:
    Crop_raw_ds[column][Crop_raw_ds[column]<descriptive[column]["Lesser"]]=descriptive[column]["Lesser"]
for column in greater:
    Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]

C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\3129178656.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crop_raw_ds[column][Crop_raw_ds[column]>descriptive[column]["Greater"]]=descriptive[column]["Greater"]

In [33]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive.loc["Mean",columnName]=Crop_raw_ds[columnName].mean()
    descriptive.loc["Median",columnName]=Crop_raw_ds[columnName].median()
    descriptive.loc["Mode",columnName]=Crop_raw_ds[columnName].mode()[0]
    descriptive.loc["Q1:25%",columnName]=Crop_raw_ds.describe()[columnName]["25%"]
    descriptive.loc["Q2:50%",columnName]=Crop_raw_ds.describe()[columnName]["50%"]
    descriptive.loc["Q3:75%",columnName]=Crop_raw_ds.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
    descriptive.loc["Q4:100%",columnName]=Crop_raw_ds.describe()[columnName]["max"]   
    descriptive.loc["IQR",columnName]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive.loc["1.5rule",columnName]=1.5*descriptive[columnName]["IQR"]
    descriptive.loc["Lesser",columnName]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive.loc["Greater",columnName]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive.loc["Min",columnName]=Crop_raw_ds[columnName].min()
    descriptive.loc["Max",columnName]=Crop_raw_ds[columnName].max()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6516\2764052497.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  descriptive[columnName]["99%"]=np.percentile(Crop_raw_ds[columnName],99)

In [34]:
descriptive

,Crop_Year,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea
Mean,2009.117458,49687.831832,81966.584274,1371.87178,6615026.882835,13147.983996,1.801525
Median,2010.0,9516.0,14100.0,1247.6,1260838.8,2474.55,1.0375
Mode,2019,187823.5,309194,2698.2,25054187.1,49993.35,5.118226
Q1:25%,2004.0,1441.0,1449.0,940.7,194047.0,370.3,0.604516
Q2:50%,2010.0,9516.0,14100.0,1247.6,1260838.8,2474.55,1.0375
Q3:75%,2015.0,75994.0,124547.0,1643.7,10138103.04,20219.52,2.41
99%,2019.0,187823.5,309194.0,2698.2,25054187.1,49993.35,5.118226
Q4:100%,2020.0,187823.5,309194.0,2698.2,25054187.1,49993.35,5.118226
IQR,11.0,74553.0,123098.0,703.0,9944056.04,19849.22,1.805484
1.5rule,16.5,111829.5,184647.0,1054.5,14916084.06,29773.83,2.708226
Lesser,1987.5,-110388.5,-183198.0,-113.8,-14722037.06,-29403.53,-2.10371
Greater,2031.5,187823.5,309194.0,2698.2,25054187.1,49993.35,5.118226
Min,1997,0.8,1,301.3,94.67,0.09,0.003571
Max,2020,187823.5,309194,2698.2,25054187.1,49993.35,5.118226

In [35]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Lesser"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Greater"]<descriptive[columnName]["Q4:100%"]):
        greater.append(columnName)

In [36]:
lesser

[]

In [37]:
greater

[]

In [44]:
crop=Crop_raw_ds.copy()

In [45]:
crop.to_csv('crop_analysis_ds.csv',index=False)

# 6.ONE HOT ENCODING TECHNIQUE

**Categorical Data are of two types:**
1.Nominal(One Hot Encoder)  2.Ordinal(Label Encoder)

One hot encoding is a technique that we use to represent categorical 
variables as numerical values in a machine learning model.

In [46]:
Crop_raw_ds=pd.get_dummies(Crop_raw_ds,drop_first=True)

In [47]:
Crop_raw_ds

,Crop_Year,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea,Crop_Arhar/Tur,Crop_Bajra,Crop_Banana,...,State_Odisha,State_Puducherry,State_Punjab,State_Sikkim,State_Tamil Nadu,State_Telangana,State_Tripura,State_Uttar Pradesh,State_Uttarakhand,State_West Bengal
0,1997,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1997,6637.0,4685,2051.4,631643.29,2057.47,0.710435,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1997,796.0,22,2051.4,75755.32,246.76,0.238333,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1997,19656.0,309194,2051.4,1870661.52,6093.36,5.118226,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1997,1739.0,794,2051.4,165500.63,539.09,0.420909,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19684,1998,4000.0,2000,1498.0,395200.00,1160.00,0.500000,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19685,1998,1000.0,3000,1498.0,98800.00,290.00,3.000000,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19686,1997,187823.5,309194,1356.2,25054187.10,49993.35,1.285000,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19687,1997,187823.5,5488,1356.2,25054187.10,49993.35,0.016667,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19688,1997,187823.5,309194,1356.2,22778368.48,49993.35,1.261818,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [48]:
Crop_raw_ds.shape

(19573, 95)

In [49]:
boolean_columns=Crop_raw_ds.select_dtypes(include=bool).columns
Crop_raw_ds[boolean_columns]=Crop_raw_ds[boolean_columns].astype(int)

In [50]:
Crop_raw_ds

,Crop_Year,Area_Hectares,Production_Tonnes,Rainfall_mm,Fertilizer_Kgms,Pesticide_Kgms,Yield/unitArea,Crop_Arhar/Tur,Crop_Bajra,Crop_Banana,...,State_Odisha,State_Puducherry,State_Punjab,State_Sikkim,State_Tamil Nadu,State_Telangana,State_Tripura,State_Uttar Pradesh,State_Uttarakhand,State_West Bengal
0,1997,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1997,6637.0,4685,2051.4,631643.29,2057.47,0.710435,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1997,796.0,22,2051.4,75755.32,246.76,0.238333,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1997,19656.0,309194,2051.4,1870661.52,6093.36,5.118226,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1997,1739.0,794,2051.4,165500.63,539.09,0.420909,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19684,1998,4000.0,2000,1498.0,395200.00,1160.00,0.500000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19685,1998,1000.0,3000,1498.0,98800.00,290.00,3.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19686,1997,187823.5,309194,1356.2,25054187.10,49993.35,1.285000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19687,1997,187823.5,5488,1356.2,25054187.10,49993.35,0.016667,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19688,1997,187823.5,309194,1356.2,22778368.48,49993.35,1.261818,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Creting a .csv file to store the preprocessed dataset

In [51]:

Crop_raw_ds.to_csv('crop_preprocess_ds.csv',index=False)